.meals {
  max-width: 60rem;
  width: 90%;
  margin: 2rem auto;
  animation: meals-appear 1s ease-out forwards;
}

.meals ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
.meal {
  display: flex;
  justify-content: space-between; /* or flex-start if needed */
  align-items: flex-start;
  margin: 1rem 0;
  padding: 1rem;
  border-bottom: 1px solid #ccc;
}

.meal > div {
  display: flex;
  flex-direction: column; /* ensure button is below text */
}


@keyframes meals-appear {
  from {
    opacity: 0;
    transform: translateY(3rem);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}